<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.morty.mapper.RoleMenuMapper">

    <resultMap id="resultMap" type="com.morty.entity.RoleMenuEntity">
        <result property="id" column="id"></result>
        <result property="roleId" column="role_id"></result>
        <result property="menuId" column="menu_id"></result>
    </resultMap>
    <delete id="deleteBatch">
        delete from role_menu where role_id in
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
    <select id="queryMenuIdList" resultType="java.lang.Integer">
        select menu_id from role_menu where role_id = #{roleId}
    </select>
</mapper>