<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.morty.mapper.RoleMapper">

    <resultMap id="resultMap" type="com.morty.entity.RoleEntity">
        <result property="roleId" column="role_id"></result>
        <result property="roleName" column="role_name"></result>
        <result property="roleManagerId" column="role_manager_id"></result>
    </resultMap>
    <insert id="save" parameterType="com.morty.entity.RoleEntity" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO role
        <!-- 添加表字段 -->
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId &gt; 0">role_id,</if>
            <if test="roleName != null">role_name,</if>
            <if test="roleManagerId &gt; 0">role_manager_id,</if>
        </trim>
        <!-- 注入控制层字段 -->
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId &gt; 0">#{roleId},</if>
            <if test="roleName != null">#{roleName},</if>
            <if test="roleManagerId &gt; 0">#{roleManagerId},</if>
        </trim>
    </insert>
    <delete id="delByIds">
        delete from role
        <where>
            role_id  in <foreach collection="array" item="item" index="index"
                                 open="(" separator="," close=")">#{item}</foreach>
        </where>
    </delete>


    <select id="queryByEntity"  resultMap="resultMap" resultType="com.morty.entity.RoleEntity">
        select * from role
        <where>
            <if test="roleId &gt; 0">role_id=#{roleId} </if>
            <if test="roleName != null and roleName != ''"> and role_name like concat('%',#{roleName},'%')</if>
            <if test="roleManagerId &gt; 0"> and role_manager_id=#{roleManagerId} </if>
        </where>
    </select>

    <select id="getEntity" resultMap="resultMap" resultType="com.morty.entity.RoleEntity">
        select * from role where role_id=#{roleId}
        <if test="roleName != null and roleName != ''"> and role_name=#{roleName} </if>
        <if test="roleId &gt; 0"> and role_id=#{roleId} </if>
    </select>

</mapper>